{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- carousel -->
<div class="col-md-10 mx-auto col">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/slide_1.jpg' %}" class="d-block w-100 rounded-4"
                        alt="A restaurant Table setting">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/slide_2.jpg' %}" class="d-block w-100 rounded-4"
                        alt="A picture of two dishes of food">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/slide_3.jpg' %}" class="d-block w-100 rounded-4"
                        alt="A photo of ambience of restaurant ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center mt-4">
        <h1 class="mb-5">Welcome to Black Forest Restaurant</h1>
        <div class="col-4 justify-content-center text-center mx-auto"><hr></div>
        <p class="lead h5 mt-4">
            <em>Savor exquisite dishes and impeccable service at Black Forest,
             where every bite is a celebration.
            </em>
        </p>
    </div>
</div>

<!--Cards-->
<div class="container-fluid">
    <div class="row d-flex my-5 justify-content-center text-center">

        <a href="#" class="btn btn-outline-secondary card mb-3 col-10 col-md-4 col-lg-3 ">
            <img class="card-img-top rounded-circle" src="{% static 'images/card_menus.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Menus</h2>
                <hr>
                <p class="card-text h4 lead">Our Foods and Drinks</p>
            </div>
        </a>

        <a href="#" class="btn btn-outline-secondary card mb-3 col-10 col-md-4 col-lg-3">
            <img class="card-img-top rounded-circle" src="{% static 'images/card_book.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Make a Reservation</h2>
                <hr>
                <p class="card-text h4 lead">Reserve Your Table & Enjoy Black Forest</p>
            </div>
        </a>

        <a href="#" class="btn btn-secondary card mb-3 col-10 col-md-4 col-lg-3">
            <img class="card-img-top rounded-circle" src="{% static 'images/card_blog.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Blog</h2>
                <hr>
                <p class="card-text h4 lead">Explore Our Blog</p>
            </div>
        </a>

    </div>


</div>


  {% endblock %}