{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center text-center">

        <!-- Post content -->
        <div class="col-md-6 col-lg-5 border border-3 border-secondary rounded-5 p-4">
            <h1 class="text-center">{{ post.title }}</h1>
            <hr >
            <p class="lead my-5">{{ post.content| safe }}</p>

            <hr>
            <p class="card-text h6 mt-5">By: {{ post.author}}</p>
            <p class="card-text text-muted ">{{ post.created_on}}</p>
        </div>

        <!-- Post image -->
        <div class="col-md-4 col-lg-7 ">
            {% if "placeholder" in post.featured_image.url %}
            <img src="{% static 'images/default.jpg' %}" class="col-11 rounded-3" alt="placeholder">
            {% else %}
            <img src="{{ post.featured_image.url }}" class="col-11 rounded-3" alt="{{ post.title }}">
            {% endif %}
        </div>

        <!-- comment counter -->
        <div class="row">
            <div class="col-12">
                <strong class="text-secondary">
                    <i class="far fa-comments"></i> {{ comment_count }}
                </strong>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <!--Show comments, edit and delete buttons-->
            <div class="col-md-6 mb-4 mt-3 border border-secondary">
                <h3 class="my-5 ">Comments:</h3>
                
                <!-- Iterating in comments -->

                {% for comment in comments %}
                <div class="card border-secondary mb-3 p-2 comments{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="card-header text-muted my-2">
                        {{ comment.created_on }}
                    </p>
                    <div class="card-body">
                        <p class="card-title text-muted">
                            {{ comment.author }}
                            wrote:
                        </p>
                        <div class="card-text" id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}


                            <!--show edit and delete buttons-->
                            {% if not comment.approved and comment.author == user %}
                            <p class="approval">This comment is awaiting approval</p>
                            {% endif %}
                            {% if user.is_authenticated and comment.author == user %}
                            <button class="btn  btn-danger btn-delete col-4 col-lg-3" data-comment_id="{{ comment.id }}">Delete</button>
                            <button class="btn btn-success btn-edit col-4 col-lg-3" data-comment_id="{{ comment.id }}">Edit</button>
                            {% endif %}
                        </div>
                    </div> 

                </div>
                {% endfor %}
                
            </div>

        </div>



        
    </div>
</div>


{% endblock %}
