<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Meta for search engines-->
  <meta name="description" content="Experience the enchanting flavors of the Black Forest at our restaurant. We offer delicious food and a warm atmosphere.">
  <meta name="keywords" content="restaurant, foods, drinks,food blog, Black Forest , booking online, food recipes">

  <!-- title  -->
  <title>Black Forest</title>

   <!-- CSS  -->

</head>

<body>
  <!-- Navigation -->
  <nav>
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="#">
                Home
            </a>
            </li>
            <li>
              <a class="nav-link" href="#">
                Menus
            </a>
            </li>
        </ul>
    </div>
  </nav>

  {% block content %}
  <!-- Content Goes here -->
  {% endblock content %}
 

  <!-- Footer -->
  <footer>
    <p>Here is footer</p>
  </footer>

  <!-- JavaScript  -->


</body>

</html>